$ancho : 1024px
$color-letra : #0040FF
$altura : 514px
.contenedor
    width: $ancho
h1,h2,h3,h4,p
    color: $color-letra
.contenedor-con-altura
    @extend .contenedor
    height: $altura
ul
    font-size: 1.2rem
    color: red
    ul
        font-size: 0.7rem
        color: red
        ul
            font-size: 0.5rem
            color: blue
            ul
                color: green
/*elemento vario*/
a
    color: blue
    text-decoration: none
    font-size: 1.2rem
    &:hover
        color: green
        text-decoration: underline
    &:focus
        color: red
        text-decoration: none
    &.enlace_propio
        color: red
/*operacion simples*/
.mitad
    width: ($ancho/2)
.cuarto
    width: ($ancho/4)
.octavo
    width: ($ancho/8)
/*fuction*/
@function partir($tam,$num_partes)
    @return ($tam/$num_partes)
.decimo
    width: partir($ancho,10)
